body {
	background-color: black;
	color: white;
}

h1,
.difficultyButtons,
.generateButton,
.sudokuBoard {
	display: flex;
	justify-content: center;
}

.sudokuBoard {
	display: grid;
	grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
	grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}
